{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-no-unsupported-browser-features"
  ],
  "rules": {
    "at-rule-no-vendor-prefix": true,
    "media-feature-name-no-vendor-prefix": true,
    "property-no-vendor-prefix": true,
    "selector-no-vendor-prefix": true,
    "value-no-vendor-prefix": true,
    "declaration-empty-line-before": "never",
    "at-rule-empty-line-before": "never",
    "color-hex-case": "upper",
    "max-empty-lines": [2, {
      ignore: ["comments"]
    }],
    "plugin/no-unsupported-browser-features": [true, {
      "browsers": ['> 1%', 'Last 2 versions'],
      "ignore": ['rem']
    }]
  }
}