/* ==|====================
   Layout / Media Wrappers
   ======================= */

// Media wappers are blocks containings media objects
.media-wrapper {
  display: flex;

  @include mq($from: mobile, $until: tablet) {
    flex-direction: column;
  }
  @include mq($from: tablet) {
    flex-flow: row wrap;
    justify-content: space-between;
    // since all SVG inside do not have
    // the same height we want to align
    // them according to their body text
    align-items: flex-end;
  }
}

.media-wrapper--full-width {
  flex-direction: column;
}