/* ==|====================
   Components / Links
   ======================= */

%link {
  color: $blue;
  @include transition();
  &:hover {
    text-decoration: none;
    color: shade($blue, 20%);
  }
}

a {
  @extend %link;
  text-decoration: underline;
}

.link--icon {
  @extend %link;
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  // & > i {
  //   margin-right: .3rem;
  // }
  // @include mq($from: mobile) {
  //   & > i {
  //     @include size(100%);
  //   }
  // }
  // @include mq($from: tablet) {
  //   & > i {
  //   }
  // }
}

.link--icon-rtl {
  @extend %link;
  display: flex;
  text-decoration: none;
  // & > i {
  //     @include transition();
  //     margin-left: .3rem;
  // }
  // &:hover {
  //     & > i {
  //         transform: translateX(.3rem);
  //     }
  // }
}

