/* ==|====================
   Components / Tooltip
   ======================= */

.tooltip-wrapper {
  position: absolute;
  .input-wrapper > & {
    @include mq($from: desktop) {
      left: calc(100% + 1rem);
      top: 2rem;
    }
  }
  .choice-list-wrapper & {
    @include mq($from: desktop) {
      left: calc(100% + 1rem);
      top: 0;
    }
  }
}

.tooltip {
  position: relative;
  @include flex-absolute-center();
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  text-decoration: none;
  z-index: $zIndex-tooltip;
  .tooltip__icon {
    @include rms(1);
    color: $tooltip-icon-color;
    display: none;
    // The way the tooltip__icon is displayed here is quite messy. Every Time we will have our tooltip inside a new block we will have to add a new wrapper. We have to test to display the tooltip__icon as soon as the desktop resolution is reached.
    .input-wrapper & {
      @include mq($from: desktop) {
        display: flex;
      }
    }
    .choice-list-wrapper & {
      @include mq($from: desktop) {
        display: flex;
      }
    }
  }
  &:before,
  &:after {
    position: absolute;
    opacity: 0;
    @include transition();
  }
  // The box containing the tooltip
  &:before {
    content: attr(data-tooltip);
    width: 15rem;
    padding: 5px;
    background-color: $blue;
    border-radius: var(--border-radius);
    @include rms(-1);
    line-height: 1.3;
    text-decoration: none;
  }
  // The arrow linking the tooltip to the element we hover on
  &:after {
    content: '';
    width: 0;
    height: 0;
    border: 6px solid transparent;
  }
  &:hover:before,
  &:hover:after {
    display: flex;
    opacity: 1;
  }
}

.tooltip--top {
  @extend .tooltip;
  @include touch-input-tooltip();
  &:before {
    bottom: 100%;
    left: -50%;
    margin-bottom: 10px;
  }
  &:after {
    @include mq($from: desktop) {
      border-top-color: $blue;
      border-bottom: none;
      bottom: 100%;
      left: 5px;
      margin-bottom: 4px;
    }
  }
}

.tooltip--right {
  @extend .tooltip;
  @include touch-input-tooltip();
  &:before {
    right: -25%;
    left: 100%;
    margin-left: 10px;
  }
  &:after {
    @include mq($from: desktop) {
      border-right-color: $blue;
      border-left: none;
      top: 50%;
      left: 100%;
      margin-top: -6px;
      margin-left: 4px;
    }
  }
}

.tooltip--bottom {
  @extend .tooltip;
  @include touch-input-tooltip();
  &:before {
    top: 100%;
    left: -50%;
    margin-top: 10px;
  }
  &:after {
    @include mq($from: desktop) {
      border-bottom-color: $blue;
      border-top: none;
      top: 100%;
      left: 5px;
      margin-top: 4px;
    }
  }
}

.tooltip--left {
  @extend .tooltip;
  @include touch-input-tooltip;
  &:before {
    top: -25%;
    right: 100%;
    margin-right: 10px;
  }
  &:after {
    @include mq($from: desktop) {
      border-left-color: $blue;
      border-right: none;
      top: 50%;
      right: 100%;
      margin-top: -6px;
      margin-right: 4px;
    }
  }
}

