// ----------------------
// == Colors
// ----------------------

// Graphic chart
$red: #fa4a4a;
$blue: #202f55;
$grey: #909090;
$lightgrey: #d0e9f3;
$white: #fff;

$orange: #d35400;
$green: #27ae60;
$purple: #9b59b6;
$yellow: #f1c40f;
$black: #303030;
$color1: $blue;
$error: $red;
$success: $green;
// Using Sass Maps as explained here : https://jonsuh.com/blog/sass-maps/
$social-colors: (facebook: #3b5998, twitter: #43bfe1, dribbble: #ea4c89, github: #171515, google: #db4437, youtube: #c4302b, linkedin: #3272bd);
.social-link {
  color: $white;
}

@each $social-network,
$social-color in $social-colors {
  .icon-#{$social-network}-with-circle {
    color: $social-color;
  }
}

// Example : <a class="social-link social-link--dribbble">Dribbble</a>

