// ----------------------
// == Variables / General
// ----------------------

/// ---------------------
/// STYLE
/// ---------------------
$border-radius: 5px;

/// ---------------------
/// GRID
/// ---------------------
$max-content-width: 65rem !default;

/// ---------------------
/// HEADER
/// ---------------------
$header--main-height: 3rem !default;

/// ---------------------
/// MODAL
/// ---------------------
$modal-header-height: 4rem !default;
$modal-padding: 2rem !default;

/// ---------------------
/// ALERT
/// ---------------------
$alert-side-padding: 1.3rem !default;
$tooltip-icon-color: $blue !default;

/// ---------------------
/// DROPDOWN
/// ---------------------
$dropdown-height: 3rem !default;
$padding-dropdown: 1rem  !default;
$bgc-dropdown: $blue !default;

/// ---------------------
/// MEDIA
/// ---------------------
$padding-media: 1rem !default;

/// ---------------------
/// NAV
/// ---------------------
$nav--main-height: 4rem !default;

/// ---------------------
/// FORM
/// ---------------------
$input-height: 3rem !default;
$single-form-width--tablet: 18rem !default;
$single-form-width--desktop: 30rem !default;

/// ---------------------
/// FOOTER
/// ---------------------
$footer-padding: 1rem !default;
$footer-social-icon-size: 2.5rem !default;

