/* ==|====================
   Components / Blockquotes
   ======================= */

/// Quotes layout taken from CSS Tricks :
/// https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/
/// @example html - Usage
///   <blockquote>
///     <p>Lorem ipsum dolor sit amet</p>
///     <cite>Author</cite>
///   </blockquote>
blockquote {
  quotes: "\201C" "\201D";
  p {
    display: inline;
  }
  cite {
    display: inline;
  }
}

blockquote::before {
  color: $color1;
  content: open-quote;
  font-size: 2em;
  line-height: 0.1em;
  margin-right: 0.5rem;
  vertical-align: -0.4em;
  @include mq($from: desktop) {
    font-size: 3em;
  }
}

blockquote::after {
  color: $color1;
  content: close-quote;
  font-size: 2em;
  line-height: 0.1em;
  margin-left: 0.5rem;
  vertical-align: -0.5em;
  @include mq($from: desktop) {
    font-size: 3em;
  }
}
