/* =======================
   Components / Buttons
   ======================= */

.m-btn {
  --button-height: 3rem;

  display: inline-block;
  height: var(--button-height);
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  border: none;
  border-radius: var(--border-radius);
  color: var(--color-primary);
  text-decoration: none;
  font-size: 14px;
  line-height: var(--button-height);
  font-family: var(--RobotoMedium);
  font-weight: 500;
  @include transition;
  will-change: background-color;

  &:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
  }
}

.m-btn--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  box-shadow: 0 4px 6px 0 rgba(67, 0, 179, .10), 0 1px 3px 0 rgba(67, 0, 179, 0.16);
  // box-shadow: 0 1px 8px 0 rgba(67,0,179,0.08), 0 5px 25px 0 rgba(67,0,179,0.1);

  &:hover {
    background-color: var(--color-purple-500);
    // box-shadow: 0 1px 8px 0 rgba(0,0,0, 0.08), 0 5px 25px 0 rgba(0,0,0, 0.1);
    box-shadow: 0 7px 14px 0 rgba(67, 0, 179, .10), 0 3px 6px 0 rgba(67, 0, 179, .08);
    transform: translateY(-1px);
  }
}