/* =======================
   Components / Card
   ======================= */

.cards-wrapper {
  display: flex;

  @include mq($from: mobile, $until: wide) {
    flex-direction: column;
    width: 100%;
  }

  @include mq($from: tablet) {
    flex-flow: row wrap;
  }

  @include mq($from: desktop, $until: wide) {
    max-width: $max-content-width;
  }

  @include mq($from: wide) {
    width: $max-content-width;
    max-width: $max-content-width;
  }

  .card {
    @include mq($from: tablet, $until: desktop) {
      margin-right: 2rem;
      flex-basis: calc(50% - 1rem);

      // Since we have 2 cards per row on tablet we only want the last card of every row not to have a margin-right.
      &:nth-child(2n+2) {
        margin-right: 0;
      }
    }
    @include mq($from: desktop) {
      margin-right: 1.5rem;
      margin-bottom: 1.5rem;
      flex-basis: calc((100% / 3) - 1rem);

      // Since we have 3 cards per row on desktop we only want the last card of every row not to have a margin-right.
      &:nth-child(3n+3) {
        margin-right: 0;
      }
    }
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 25rem;
  border: 1px solid $grey;
  @include border-radius();
  @include transition;
  overflow: hidden;

  &:hover {
    @include box-shadow;
    transform: translateY(-.2rem);
  }

  // Pseudo element positionned at the bottom of the card in order to hide the card__thumb__img which can be visible when the card is-active.
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-color: $white;
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  &.is-active {
    .card__thumb {
      // Hack to prevent right grey border from disapearring
      overflow: auto;
      border: 1px solid $grey;
    }

    .card__thumb__img {
      transform: scale(1.2);
      opacity: .7;
    }

    .card__body {
      transform: translateY(-5rem);
    }

    .card__toggle-icon {
      transform: translateY(50%) rotate(225deg);
    }

    .card__btn-wrapper {
      opacity: 1;
    }
  }

  @include mq($from: mobile, $until: desktop) {
    margin-bottom: 1rem;
  }

  @include mq($from: tablet) {
    margin-bottom: 2rem;
    min-width: 15rem;
  }
}

.card__thumb {
  position: absolute;
  top: 0;
  height: auto;
  width: 100%;
  background-color: $black;
  border-top-right-radius: $border-radius;
  border-top-left-radius: $border-radius;
}

.card__thumb__link {
  position: relative;
  width: 100%;
  @include aspect-ratio(4, 3);
}

.card__thumb__img {
  border-top-right-radius: $border-radius;
  border-top-left-radius: $border-radius;
  @include transition();
  transform: scale(1);
}

.card__avatar,
.card__toggle-icon {
  position: absolute;
  bottom: 100%;
  transform: translateY(50%);
}

.card__avatar {
  left: 1rem;
  width: 5rem;
  height: auto;
  max-height: 5rem;
  overflow: hidden;
  background-color: transparent;
}

.card__toggle-icon {
  right: 1rem;
  color: $white;
  @include no-outline();
  @include icon(3rem, $blue, null, $blue);
  @include box-shadow();
  @include transition();
}

.card__body {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100% - 10rem);
  padding-top: 3rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 1.5rem;
  margin-top: auto;
  border-bottom-right-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  background-color: $white;
  z-index: $zIndex-card-body;
  @include transition();
}

.card__title {
  margin-bottom: .5rem;
  @include rms(1);
  line-height: 1.2;
  font-weight: 700;
  @include reset-link($black);
}

.card__btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  @include transition();
  opacity: 0;
}

.card__btn {
  width: 100%;
  min-width: 5rem;
  margin-bottom: 1rem;
  
  &:last-child {
    margin-bottom: 0;
  }
}
