/* =======================
   Components / Inputs
   ======================= */

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="search"],
input[type="tel"],
textarea,
select {
  display: flex;
  @include rms(0);
  font-weight: 300;
  color: $black;
  height: $input-height;
  padding: .5em;
  border: 1px solid $lightgrey;
  @include border-radius();
  background-color: #f7f7f7;
  @include placeholder() {
    color: rgba($black, 0.4);
  }
  will-change: border-color;

  &:focus {
    border-color: $blue;
  }

  &.touched:required:valid {
      border-color: $success;
      background-color: transparent ;
  }

  &.touched:required:invalid {
      border-color: $error;

      & + .input-error-msg {
        display: block;
      }
  }
}

textarea {
  resize: none;
  min-height: 10rem;
}

.input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100%;
  margin-bottom: 1rem;
  font-family: $font1;
  &:last-child {
    margin-bottom: 0;
  }
  label {
    margin-bottom: .5rem;
    &.is-mandatory {
      &:after {
        content: '*';
        @include rms(-1);
        color: $red;
      }
    }
  }
  input,
  select,
  datalist {
    width: 100%;
    min-height: 2rem;
    margin-bottom: .5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  input.tiny {
    width: 3rem;
  }
  &.disabled input {
    cursor: not-allowed;
    background-color: $lightgrey;
  }
  &.has-error {
    input {
      border-color: $error;
    }
  }
  &--arrow-down {
    &::after {
      content: '';
      position: absolute;
      display: block;
      @include size(13px);
      top: $input-height / 2;
      transform: translateY(-50%);
      right: 1rem;
      background-image: url('../icons/arrow-down.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }
  }
}

// Text displaying some requirements for 
// the associated input
// eg : 500 letters maximum (textarea)
.input-upper-text {
    font-family: $LatoRegular;
    color: $grey;
    @include rms(-1);
    margin-bottom: 10px;
}

.input-error-msg {
  display: flex;
  flex-direction: column;
  font-weight: 200;
  color: $red;
  @include rms(-1);
}

// select {
//     width: 100%;
//     height: $input-height;
//     border: 1px solid $grey;
//     background-color: $white;
// }
.checkbox-wrapper {
  display: flex;
  align-items: baseline;
  input[type="checkbox"] {
    flex-shrink: 0;
  }
  &.has-error {
    .checkbox-label {
      color: $error;
    }
  }
}

.checkbox-label {
  margin-left: .5rem;
  cursor: pointer;
}

// ----------------
// RADIO INPUT
// ----------------
// Class aimed to be applied on a block containing : ul.radio-list > li.radio-wrapper
.choice-list-wrapper {
  position: relative;
  & > label {
    @include rms(1);
    font-weight: 700;
    line-height: 2.5; //Simulates a margin-bottom on the title of the radio list
  }
}

.radio-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  input[type="radio"] {
    width: auto;
    flex-shrink: 0;
  }
  &.has-error {
    .radio-label {
      color: $error;
    }
  }
  .radio-label {
    cursor: pointer;
    margin-left: .5rem;
  }
  .radio-list & {
    margin-bottom: .5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// ---------------
// FILE INPUT
// ---------------
.file-wrapper {
  position: relative;
}

.file-input {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.file-label {
  max-width: 15rem;
}

.file-input:hover + .file-label,
.file-input:focus + .file-label {
  background: $blue;
  color: white;
}

// ---------------
// DATE WRAPPER
// ---------------
.date-wrapper {
  display: flex;
  justify-content: space-between;
  select.day {
    min-width: 3rem;
    margin-right: 1rem;
  }
  select.month {
    min-width: 8rem;
    margin-right: 1rem;
  }
  select.year {
    min-width: 5rem;
  }
}

// ---------------
// PASSWORD
// ---------------
// These rules are meant to work with
// the Show/Hide Password framework
// http://cloudfour.github.io/hideShowPassword/
.password-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.password-toggle {
  position: absolute;
  height: 100%;
  padding: 5px;
  margin-left: auto;
  margin-right: 10px;
  font-size: 1.5rem;
  margin-top: 0 !important;
  top: 0 !important;
}

