/* ==|====================
   Components / Links
   ======================= */

.a-link {
  text-decoration: none;
  @include transition;
}

.a-link--primary {
  color: var(--color-primary);
  will-change: color;

  &:hover {
    color: var(--color-purple-300);
  }
}

.a-link--secondary {
  color: var(--color-grey-40);

  &:hover {
    color: var(--color-purple-600);
  }
}