/* ==|====================
   Components / Logo
   ======================= */

.c-logo {
  // height: 2rem;
  // width: 9rem;
  @include size(10rem, 4rem);
}

.c-logo__icon {
  height: 100%;
  width: 100%;
  fill: var(--color-black);
}

