/* ==========================
   Components / Media Objects
   ========================== */

// For Further informations read : 
// https://philipwalton.github.io/solved-by-flexbox/demos/media-object/
.media {
  display: flex;
  align-items: flex-start;
  padding: $padding-media;
  @include mq($from: mobile, $until: desktop) {
    flex-direction: column;
  }
}

.media--photo > .media__figure {
  @include mq($from: mobile, $until: desktop) {
    margin-right: 0;
  }
  @include mq($from: desktop, $until: wide) {
    flex-basis: 50%;
    margin-right: $padding-media;
  }
}

// Media reverse should only be used for screen larger than mobile.
.media--reverse > .media__figure {
  margin-right: 0;
  @include mq($from: desktop) {
    order: 1;
    margin-left: $padding-media;
  }
}

.media__figure {
  margin-bottom: ($padding-media / 2);
}

.media__body {
  overflow-wrap: break-word;
  word-wrap: break-word;
  flex: 1;
  &,
  &:last-child {
    margin-bottom: 0;
  }
  @include transition();
}

.media__title {
  margin: 0 0 ($padding-media / 2);
}

.media__subtitle {
  font-size: 1.2rem;
  font-weight: lighter;
  margin: 0 0 $padding-media;
}

.media__text {
  margin-bottom: .5rem;
}

