/* ==|====================
   Components / Navigation
   ======================= */

.nav {
  position: relative;
  display: none;
  justify-content: center;
  width: 100%;
  background-color: $blue;
  color: $white;
  padding: 0 1rem;
  height: $nav--main-height;
  @include mq($from: desktop) {
    display: flex;
  }
  .is-fixed {
    position: fixed;
    top: 0;
  }
}

.nav__list {
  position: absolute;
  display: flex;
  justify-content: space-around;
  margin: auto;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  @include mq($from: desktop, $until: wide) {
    max-width: 100%;
    width: 100%;
  }
  @include mq($from: wide) {
    max-width: $max-content-width;
    width: $max-content-width;
  }
}

.nav__item {
  display: flex;
  height: 100%;
}

.nav__item__link {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-transform: uppercase;
  opacity: .9;
  @include reset-link($white);
  @include transition();
  &::after {
    content: '';
    position: absolute;
    align-self: flex-end;
    height: 3px;
    width: 100%;
    background-color: $white;
    @include transition();
    transform: scaleX(0);
    bottom: 0;
    left: 0;
  }
  &.is-active,
  &:hover {
    opacity: 1;
    &::after {
      transform: scaleX(1);
    }
  }
  &:active::after {
    transform: scaleX(1.5);
  }
  &:focus {
    outline-color: $white;
  }
}

