/* ==|====================
   Components / Logo
   ======================= */

.scroll-indicator {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  bottom: 1rem;
  left: 0;
  right: 0;
  @include reset-link($white);
  opacity: .8;
  @include size(2rem);
  animation: bounce 3s ease-in-out infinite;
  i {
    @include rms(2);
  }
  @include mq($from: desktop) {
    @include size(4rem);
    bottom: 2rem;
    i {
      @include rms(3);
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

